<div class="demo">
  <div class="widget">
    <h1>Widget Buttons</h1>
    <button>A button element</button>

    <input type="submit" value="A submit button">

    <a href="#">An anchor</a>
  </div>
  <h1>CSS Buttons</h1>
  <button class="ui-button ui-widget ui-corner-all">A button element</button>

  <input class="ui-button ui-widget ui-corner-all" type="submit" value="A submit button">

  <a class="ui-button ui-widget ui-corner-all" href="#">An anchor</a>


  <div style="padding: 1em 0;">
    <div id="radio">
      <input type="radio" id="radio1" name="radio"><label for="radio1">Choice 1</label>
      <input type="radio" id="radio2" name="radio" checked="checked"><label for="radio2">Choice 2</label>
      <input type="radio" id="radio3" name="radio"><label for="radio3">Choice 3</label>
    </div>
  </div>


</div>
