<p>When controlgroup is called, the container element will have the "ui-controlgroup" class added.</p>
<fieldset>
  <legend>Rental Car</legend>
  <div class="controlgroup">
    <select id="car-type">
      <option>Compact car</option>
      <option>Midsize car</option>
      <option>Full size car</option>
      <option>SUV</option>
      <option>Luxury</option>
      <option>Truck</option>
      <option>Van</option>
    </select>
    <label for="transmission-standard">Standard</label>
    <input type="radio" name="transmission" id="transmission-standard">
    <label for="transmission-automatic">Automatic</label>
    <input type="radio" name="transmission" id="transmission-automatic">
    <label for="insurance">Insurance</label>
    <input type="checkbox" name="insurance" id="insurance">
    <label for="horizontal-spinner" class="ui-controlgroup-label"># of cars</label>
    <input id="horizontal-spinner" class="ui-spinner-input">
    <button>Book Now!</button>
  </div>
</fieldset>
<br>
<p>When controlgroup is called with {direction: "vertical"}, the container element will also have the "ui-controlgroup-vertical" classes added.</p>
<fieldset>
  <legend>Rental Car</legend>
  <div class="controlgroup-vertical">
    <select>
      <option>Compact car</option>
      <option>Midsize car</option>
      <option>Full size car</option>
      <option>SUV</option>
      <option>Luxury</option>
      <option>Truck</option>
      <option>Van</option>
    </select>
    <label for="transmission-standard-v">Standard</label>
    <input type="radio" name="transmission-v" id="transmission-standard-v">
    <label for="transmission-automatic-v">Automatic</label>
    <input type="radio" name="transmission-v" id="transmission-automatic-v">
    <label for="insurance-v">Insurance</label>
    <input type="checkbox" name="insurance" id="insurance-v">
    <label for="vertical-spinner" class="ui-controlgroup-label"># of cars</label>
    <input id="vertical-spinner" class="ui-spinner-input">
    <button id="book">Book Now!</button>
  </div>
</fieldset>
