
{% set jquery_ui_accordion_core = path('deprecated_libraries.core.jquery_ui_accordion') %}
{% set jquery_ui_accordion_contrib = path('deprecated_libraries.contrib.jquery_ui_accordion') %}

{% trans %}

  <p>Drupal 8 has marked several libraries deprecated, which will be removed by Drupal 9.</p>
  <p>This module provides examples of implementations of these libraries for core and using contrib replacements for comparison:</p>

  <dl>
    <dt>jQuery UI Accordion</dt>
    <dd>
      <p>An accordion-style section reveal effect</p>
      <ol>
        <li>
          <p><a href={{ jquery_ui_accordion_core }}>Core (deprecated)</a></p>
        </li>
        <li>
          <p><a href={{ jquery_ui_accordion_contrib }}>Contrib </a></p>
        </li>
      </ol>
    </dd>
  </dl>

{% endtrans %}
