<div class="demo">
  <h2>{{ title }}</h2>
  <div id="progressbar"></div>
  <button id="numButton">Random Value - Determinate</button>
  <button id="falseButton">Indeterminate</button>
  <button id="colorButton">Random Color</button>
</div>
