<div class="demo">
  <p>
    <label for="spinner">Select a value:</label>
    <input id="spinner" name="value">
  </p>

  <p>
    <button id="disable">Toggle disable/enable</button>
    <button id="destroy">Toggle widget</button>
  </p>

  <p>
    <button id="getvalue">Get value</button>
    <button id="setvalue">Set value to 5</button>
  </p>
</div>
